<header role="banner" class="main-header">
  <div class="logo-pedro-guedes">
    <img src="{{ '/assets/img/logo-pedro-guedes.png' | prepend: site.baseurl }}" alt="Pedro Guedes">

    <h1 class="person">
      <span class="person-name">Pedro Guedes</span>
      <span class="person-role">Product Designer</span>
    </h1>
  </div>

  <p class="main-header-slogan">Hello, I am a product designer based in Belo Horizonte, a beautiful city in Brazil. I am focused on making digital products, from conception to interface. <br>If you want to see my resume, <a href="#" title="View my resume">click here!</a></p>
</header>
